In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler,MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score

In [118]:
df=pd.read_csv("train.csv")
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [119]:
df.drop(['ID','Customer_ID','Month','Name','SSN',
               'Type_of_Loan','Credit_History_Age']
               ,axis=1,inplace=True)

In [120]:
size=df.shape
size

(100000, 21)

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       100000 non-null  object
 1   Occupation                100000 non-null  object
 2   Annual_Income             100000 non-null  object
 3   Monthly_Inhand_Salary     84998 non-null   float64
 4   Num_Bank_Accounts         100000 non-null  int64
 5   Num_Credit_Card           100000 non-null  int64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               100000 non-null  object
 8   Delay_from_due_date       100000 non-null  int64
 9   Num_of_Delayed_Payment    92998 non-null   object
 10  Changed_Credit_Limit      100000 non-null  object
 11  Num_Credit_Inquiries      98035 non-null   float64
 12  Credit_Mix                100000 non-null  object
 13  Outstanding_Debt          100000 non-null  object
 14  Credit_Utilization_Ratio  100000 non-null  float64
 15  Payment_of_Min_Amount     100000 non-null  object
 16  Total_EMI_per_month       100000 non-null  float64
 17  Amount_invested_monthly   95521 non-null   object
 18  Payment_Behaviour         100000 non-null  object
 19  Monthly_Balance           98800 non-null   object
 20  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(13)
memory usage: 16.0+ MB

In [122]:
df.isnull().sum()

Age                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [123]:
df.dropna()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,3,7,...,4.0,_,809.98,26.822620,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,3,4,3,4,3,8_,...,4.0,Good,809.98,22.537593,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,23,Scientist,19114.12,1824.843333,3,4,3,4,3,6,...,4.0,Good,809.98,23.933795,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,28_,_______,34847.84,3037.986667,2,4,6,1,3,4,...,2.0,Good,605.03,24.464031,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,2,4,6,1,7,1,...,2.0,Good,605.03,38.550848,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,25,Mechanic,39628.99,3359.415833,4,6,7,2,20,6,...,3.0,_,502.38,39.323569,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,25,Mechanic,39628.99,3359.415833,4,6,7,2,23,7,...,3.0,_,502.38,34.663572,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,25,Mechanic,39628.99,3359.415833,4,6,7,2,18,7,...,3.0,_,502.38,40.565631,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,25,Mechanic,39628.99,3359.415833,4,6,5729,2,27,6,...,3.0,Good,502.38,41.255522,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,25,Mechanic,39628.99_,3359.415833,4,6,7,2,18,6,...,3.0,Good,502.38,34.192463,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [131]:
df.drop('Monthly_Balance',axis=1,inplace=True)

In [132]:
encoder = LabelEncoder()
for col in df.columns:
  df[col] = encoder.fit_transform(df[col])

In [133]:
df.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Credit_Score
0,308,12,6011,3971,4,4,2,244,8,685,1185,4,3,12062,17957,1,3662,81513,3,0
1,308,12,6011,13235,4,4,2,244,4,749,1185,4,1,12062,47808,1,3662,7661,4,0
2,0,12,6011,13235,4,4,2,244,8,685,4383,4,1,12062,28197,1,3662,82226,5,0
3,308,12,6011,13235,4,4,2,244,10,570,3906,4,1,12062,44461,1,3662,30358,6,0
4,308,12,6011,3971,4,4,2,244,11,749,1185,4,1,12062,7373,1,3662,55363,2,0

In [164]:
X = df.drop('Credit_Score', 1)
y = df.Credit_Score

<ipython-input-164-f3cee4365a71>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop('Credit_Score', 1)

Feature Scaling
A preprocessing technique which helps in standardizing the data between a certain range for fitting into the model

In [135]:
#Standardization
#In case of Outliers, we use Standarization
scaler = StandardScaler()
X_scaler = scaler.fit_transform(X)
X_scaler

array([[-0.91771612,  0.96473204, -0.64279865, ..., -0.45194092,
         1.13436814, -0.23043429],
       [-0.91771612,  0.96473204, -0.64279865, ..., -0.45194092,
        -1.47813669,  0.26085491],
       [-2.09330243,  0.96473204, -0.64279865, ..., -0.45194092,
         1.15959042,  0.75214411],
       ...,
       [-0.70397315,  0.31821835,  0.35555137, ..., -0.79028771,
        -0.4352148 , -1.21301268],
       [-0.70397315,  0.31821835,  0.35555137, ..., -0.79028771,
        -0.3673658 ,  0.26085491],
       [-0.70397315,  0.31821835,  0.35573379, ..., -0.79028771,
        -0.9284466 , -1.70430188]])

In [136]:
#Normalization
min_max_scaler = MinMaxScaler(feature_range =(0, 1))
X_MM=min_max_scaler.fit_transform(X)
X_MM

array([[0.1723559 , 0.8       , 0.3173874 , ..., 0.24496622, 0.89526519,
        0.5       ],
       [0.1723559 , 0.8       , 0.3173874 , ..., 0.24496622, 0.08414151,
        0.66666667],
       [0.        , 0.8       , 0.3173874 , ..., 0.24496622, 0.90309614,
        0.83333333],
       ...,
       [0.20369334, 0.6       , 0.60636781, ..., 0.15700047, 0.40794517,
        0.16666667],
       [0.20369334, 0.6       , 0.60636781, ..., 0.15700047, 0.42901075,
        0.66666667],
       [0.20369334, 0.6       , 0.60642061, ..., 0.15700047, 0.25480785,
        0.        ]])

**Feature Selection**
> Feature selection is simply selecting and excluding given features without changing them

> *Techniques*

> Remove features with missing values

> Remove features with low variance

> Remove highly correlated features

**Dimensionality Reduction**
> Technique in which dimensions are transformed into lower dimensions

> *Technique*

> Principal Component Analysis

In [167]:
pca = PCA(0.90)
principal_components = pca.fit_transform(X_scaler)
principal_df = pd.DataFrame(data = principal_components)
principal_df.shape

(100000, 16)

In [145]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [146]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [154]:
y_pred = lr_model.predict(X_train)
y_pred

array([2, 2, 2, ..., 2, 2, 2])

In [148]:
accuracy_score(y_train,y_pred)

0.5356875

In [156]:
y_pred1 = lr_model.predict(X_test)
y_pred1
accuracy_score(y_test,y_pred1)

0.5314

In [157]:
#With Standardization
X_train, X_test, y_train, y_test = train_test_split(X_scaler, y, test_size=0.2, random_state=2)
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)

LogisticRegression()

In [158]:
accuracy_score(y_train,lr_model.predict(X_train))

0.5918125

In [159]:
accuracy_score(y_test,lr_model.predict(X_test))

0.59465

In [160]:
#With Normalization
X_train, X_test, y_train, y_test = train_test_split(X_MM, y, test_size=0.2, random_state=2)
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)

LogisticRegression()

In [161]:
accuracy_score(y_train,lr_model.predict(X_train))

0.5917875

In [162]:
accuracy_score(y_test,lr_model.predict(X_test))

0.59475